<form action="/upload" method="POST" enctype="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <input type="file" name="sampleFile" />
    <br />
    <input type="submit" value="Send" class="btn btn-primary" />
</form>

<div class="card">
    <img src="/img/user.png" class="card__image" alt="User Profile">
    <h1 class="card__title">Musashi</h1>
    <h1 class="card__job">VagaBond</h1>
    <p class="card__about">
        "Wake Up To Reality! Nothing ever goes as planned in this world. The longer you live, the more you realize that
        only pain, suffering, and futility exist in this reality".
    </p>
    <button type="button" class="btn btn-primary">View Profile</button>
</div>