@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #F4F6F8;
}

img {
    width: 100%;
}

.wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
}

.btn {
    border: none;
    color: #fff;
}